spring:
  config:
    activate:
      on-profile: local
app:
  jwt:
    secure: false
    refresh:
      domain: ${COOKIE_DOMAIN}
server:
  servlet:
    context-path: /api

logging:
  level:
    com.amazonaws.util.EC2MetadataUtils: ERROR
    com.amazonaws.services.s3: INFO
    com.kakaobase.snsapp.global.security: DEBUG
    com.kakaobase.snsapp.domain.auth: DEBUG
    com.kakaobase.snsapp.domain.posts: DEBUG
    org.springframework.security: DEBUG